@import "ag-grid-community/src/styles/ag-grid";
@import "ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";
@import "ag-grid-community/src/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark-mixin";

$params: (
  cell-horizontal-padding: 12px,
);

.ag-theme-alpine {
  @include ag-theme-alpine($params);
}

.ag-theme-alpine-dark {
  @include ag-theme-alpine-dark($params);
}

.ag-row {
  border-width: 0 !important;
  border-bottom-width: 1px !important;

  .ag-cell-wrapper {
    height: 100%;
  }
}
