@import "ag-grid-community/src/styles/ag-grid";
@import "ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";
@import "ag-grid-community/src/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark-mixin";

.ag-theme-alpine {
  @include ag-theme-alpine((
    cell-horizontal-padding: 12px,
    border-color: #d4d4d8,
    selected-row-background-color:#dbeafe,
    header-background-color: white,
    header-height: 42px,
  ));
}

.ag-theme-alpine-dark {
  @include ag-theme-alpine-dark((
    cell-horizontal-padding: 12px,
    header-height: 42px,
  ));
}

.ag-row {
  border-width: 0 !important;
  border-bottom-width: 1px !important;

  .ag-cell-wrapper {
    height: 100%;
  }
}
